<nav class="nav">
    <a class="navbar-brand">NYT Scraper</a>
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/saved">Saved Articles</a>
  <a class="btn btn-danger scrape-new">Scrape New Articles</a>
</nav>

<div class="jumbotron">
  <h1 class="display-4">Mongo Scraper</h1>
  <p class="lead">New York Times Scraper</p>
  <hr class="my-4">
  <p>New York Times Mongo Scraper</p>
</div>
<div class="container-fluid article-container">
  <ul>
  {{#each articles}} 
    <li>{{this}}</li>
  {{/each}}
  </ul>
  
</div>
<footer class="footer">
    <div class="container">
        <p>New York Times Mongo Scraper</p>
    </div>
</footer>

<script src="/javascript/index.js"></script>