<nav class="nav">
    <a class="navbar-brand">Saved Articles</a>
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/saved">Saved Articles</a>
  <a class="btn btn-danger scrape-new">Scrape New Articles</a>
</nav>

<div class="jumbotron">
  <h1 class="display-4">Saved Articles</h1>
  <p class="lead">Here are your saved articles</p>
  <hr class="my-4">

</div>

<div class="container-fluid article-container">

</div>

<footer class="footer">
    <div class="container">
        <p>New York Times Mongo Scraper</p>
    </div>
</footer>

<script src="/javascript/saved.js"></script>